html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    overflow-y: hidden;
}

body {
    flex-direction: column;
    display: flex;
    transition: opacity .5s ease-in-out;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

* {
    box-sizing: border-box;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.no-animations * {
    animation-duration: 0s !important;
}