.people {
    display: flex;
    height: 100%;
    min-width: 100vw;
    width: max-content;
}

.headers {
    display: flex;
    flex: 0 0 auto;
    align-content: center;
    justify-content: safe center;
}

@media screen and (min-width: 500px) {
    .people {
        justify-content: safe center;
    }
}