.column-title {
    font-size: 12px;
    color: gray;
    margin: 0;
    flex: 0 0 auto;
    z-index: 2;
    padding-block: 20px;
    background: white;
    width: 320px;
    padding-inline: 20px;
    border-bottom: 1px dashed rgb(180, 180, 180);
}

.column.selected .column-title {
    background: rgb(243, 243, 255);

    &:after {
        display: none;
    }
}
