.column {
    // scroll-snap-align: end;
    display: flex;
    flex-direction: column;
    max-width: 320px;
    position: relative;
    left: 0;
    flex: 0 0 320px;
    background: white;
    overflow: hidden;
    animation: createColumn .4s ease-in-out .6s 1 both;

    &:not(:first-child) {
        border-left: 1px dashed rgb(180, 180, 180);
    }


    &:not(.active) {
        &.selected {
            > .inner {
                @include scrollBox(rgb(243, 243, 255));
            }
        }
    
        &:not(.selected) > .inner {
            @include scrollBox(white);
        }    
    }

    &.selected {
        background: rgb(243, 243, 255);
        z-index: 100;
    }

    .scroll-maker {
        width: 10px;
        height: 0;
        transition: height .8s .2s ease-in-out;
    }

    &.active {
        .scroll-maker {
            height: 100vh;
            transition: height 0s 0s ease-in-out;
        }
    }

    > .inner {
        flex: 1 1 auto;
        padding: 20px;
        scroll-padding: 20px;
        position: relative;
        overflow-y: auto;
        scrollbar-width: none;
        width: 320px;

        &::-webkit-scrollbar {
            display: none;
        }
    
        > .person {
            transition: transform .3s .3s ease-in-out, opacity .3s ease-in-out;
        }
    }

    &.active {
        .inner {
            .person {
                transition: transform .3s .3s ease-in-out, opacity .3s 0s ease-in-out;
    
                &:not(.active) {
                    opacity: 0;
                    pointer-events: none;
                }
    
                &.active {
                    opacity: 1;
                    z-index: 3;
                }
            }
        }    
    }

    &.prepare-removal {
        animation: removeColumn .4s ease-in-out .6s 1 both;
    }
}


@keyframes createColumn {
    0% { opacity: 0; max-width: 0; }
    100% { opacity: 1; max-width: 320px; }
}

@keyframes removeColumn {
    0% { opacity: 1; max-width: 320px; }
    100% { opacity: 0; max-width: 0; }
}