.fixed-button {
    background: rgb(218, 218, 255) no-repeat center center;
    min-width: 40px;
    position: fixed;
    z-index: 100;
    bottom: 20px;
    appearance: none;
    display: flex;
    cursor: pointer;
    white-space: nowrap;
    border: 2px solid rgb(164, 164, 240);
    box-shadow: 0 5px 10px 0 rgba(black, .3);
    border-radius: 60px;
    align-items: center;
    padding: 10px;

    .text {
        font-size: 16px;
        overflow: hidden;
        flex: 0 0 auto;
        max-width: 0;
        transition: all .3s ease-in-out;
        margin-right: 0;
    }

    .icon {
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center;
    }
}