.item-list {
    padding-inline: 20px;
    overflow-y: auto;
    margin-right: 20px;
    font-size: 12px;
    line-height: 18px;
    width: 300px;
    list-style: none;
    animation: fadeIn .4s ease-in-out .6s 1 both;
    pointer-events: none;

    h3 {
        margin-bottom: 6px;
    }

    a {
        pointer-events: all;
    }
}

.item {
    // text-decoration: none;
    color: rgb(49, 49, 49);

}

.item-lists {
    position: absolute;
    top: 160px;
    max-height: calc(100% - 160px);
    overflow: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    .item-list:first-child {
        margin-top: 0;

        > h3 {
            margin-top: 0;
        }
    }
}

.column:not(.selected) .item-lists {
    @include scrollBox(white);
}

.column.selected .item-lists {
    @include scrollBox(rgb(243, 243, 255));
}
