.item-list {
    padding-inline: 20px;
    overflow-y: auto;
    margin-right: 20px;
    font-size: 12px;
    line-height: 18px;
    width: 300px;
    list-style: none;
    animation: fadeIn .4s ease-in-out .6s 1 both;
}

.item {
    text-decoration: none;
    color: rgb(49, 49, 49);
}

.item-lists {
    position: absolute;
    top: 130px;
    max-height: calc(100vh - 130px);
    overflow: auto;
}
