.legend {
    bottom: 80px;
    right: 9px;
    position: fixed;
    font-size: 12px;
    text-align: right;
    display: flex;
    flex-direction: column;
    z-index: 120;
    gap: 10px;
    align-items: center;
    color: rgb(88, 88, 88);

    .desktop {
        display: none;
    }

    .text {
        writing-mode: vertical-rl;
        text-align: start;
        transform: rotate(180deg);
        box-decoration-break: clone;
        padding: 3px;
        white-space: nowrap;
        border-radius: 3px;
    }

    .block {
        top: 0;
        display: inline-block;
        background: rgb(99, 59, 163);
        height: 20px;
        border-radius: 3px;
        width: 10px;
        margin-inline-end: 6px;
    }
}

@media screen and (min-width: 500px) {
    .legend {
        .mobile {
            display: none;
        }

        .desktop {
            display: block;
        }
    }
}