.legend {
    bottom: 80px;
    right: 13px;
    position: fixed;
    font-size: 12px;
    text-align: right;
    display: flex;
    flex-direction: column;
    z-index: 120;
    gap: 10px;
    align-items: center;

    .desktop {
        display: none;
    }

    .text {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        box-decoration-break: clone;
        background: white;
        padding: 3px;
        white-space: nowrap;
        border-radius: 3px;

        br {
            display: none;
        }
    }

    .block {
        top: 0;
        display: inline-block;
        background: rgb(99, 59, 163);
        height: 30px;
        border-radius: 3px;
        width: 10px;
    }
}