
$imageSize: 75px;
$border: 3px;

.person {
    will-change: auto;
    width: 100%;
    display: flex;
    position: relative;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    cursor: default;
    margin-bottom: 15px;
    z-index: var(--index);

    .dates {
        font-size: 10px;
        color: gray;
        text-decoration: none;
    }

    .name {
        font-size: 14px;
        width: 100%;
        margin-block: 0;
        color: black;
        text-decoration: none;
        margin-left: 10px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        transition: opacity .3s ease-in-out;
        opacity: 1;
        padding-right: 25px;
        position: relative;
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        > span {
            flex: 0 0 auto;
            display: inline-block;
            word-break: normal;
            max-width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    .action-button {
        width: 20px;
        height: 20px;
        pointer-events: none;
        display: block;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        margin-right: auto;


        &:before, &:after {
            content: '';
            display: block;
            width: 80%;
            height: 3px;
            position: absolute;
            background: black;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 4px;
        }

        &:after {
            transform: translate(-50%, -50%) rotate(90deg);
        }
    }
    
    @media (hover: none) {
        .action-button {
            transition: none;
        }
    }

    &.active .action-button {
        opacity: .5;
        transition: none;
    }

    .image,
    .image-alternative {
        overflow: hidden;
        border-radius: 50%;
        width: 56px;
        height: 56px;
        display: block;
        line-height: 56px;
        overflow: hidden;
        transition: opacity .3s ease-in-out;
        flex: 0 0 56px;
        z-index: 4;
        position: relative;
    }

    .influence {
        background: conic-gradient(rgb(99, 59, 163) calc(var(--percentage) * 3.6deg), rgb(207, 204, 204) 0);
        width: 66px;
        height: 66px;
        position: absolute;
        display: none;
        left: -5px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
    }

    .progress-bar {
        margin-top: 7px;
        width: 100%;
        height: 2px;
        background: rgb(206, 206, 206);
        border-radius: 4px;

        &:after {
            display: block;
            content: '';
            height: 100%;
            border-radius: 4px;
            position: relative;
            background-color: rgb(99, 59, 163);
            width: calc(var(--percentage) * 1%);
        }
    }

    .image-alternative {
        text-align: center;
        font-size: 20px;
        display: block;
        color: white;
        background-color: var(--color);
        filter: contrast(100%);

        span {
            mix-blend-mode: difference;
        }
    }

    .zoom {
        border: 10px solid transparent;
        appearance: none;
        position: absolute;
        transform: translateY(-50%);
        z-index: 29;
        padding: 20px;
        cursor: pointer;
        transition: opacity .3s ease-in-out;
        background: url('/zoom-tablet.svg') no-repeat center;
        background-size: 20px;
        top: 30px;
        left: -28px;
        width: 24px;
        height: 24px;
    }

    &.active {
        .action-button {
            &:before {
                width: 100%;
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &:after {
                width: 100%;
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }

    @media (hover: hover) {
        &:hover {
            .zoom {
                opacity: 1;
            }

            .action-button {
                opacity: 1;
            }
        }
    }
}