.search-form {
    margin: auto;
    display: flex;
    max-width: 500px;
    padding-inline: 20px;
    padding-block: 40px;
    width: 100%;
    position: relative;
    max-height: 100vh;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    .title {
        text-align: center;
    }

    .search-icon {
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        position: absolute;
    }
}

.search-loading-icon {
    background: #633ba3;
    position: absolute;
    right: 0;
    padding: 5px;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.is-searching .search-loading-icon {
    opacity: 1;
}

.search-field-wrapper {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    width: 100%;
    margin-bottom: 10px;
}

.search-input {
    padding: 10px;
    padding-left: 40px;
    width: 100%;
    border-radius: 50px;
    border: 1px solid rgb(212, 212, 212);
}

.site-header {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    gap: 10px;
    margin-bottom: 100px;

    .site-title {
        margin: 0;
        font-weight: 100;
        text-transform: uppercase;
    }

    .site-logo {
        width: 60px;
        height: 60px;
    }

}