.search-form {
    margin: auto;
    display: flex;
    max-width: 500px;
    padding-inline: 20px;
    width: 100%;
    position: relative;
    flex-direction: column;

    .title {
        text-align: center;
    }

    .search-icon {
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        position: absolute;
    }
}

.search-field-wrapper {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    width: 100%;
    margin-bottom: 10px;
}

.search-input {
    padding: 10px;
    padding-left: 40px;
    width: 100%;
    border-radius: 50px;
    border: 1px solid rgb(212, 212, 212);
}

