.selected-person {
    width: calc(100vw - 30px);
    max-width: 800px;
    max-height: calc(100% - 30px);
    overflow-y: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    z-index: 230;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 10px rgba(black, .3);

    .image {
        width: 100%;
        float: left;
        margin-bottom: 10px;
    }

    .title {
        display: flex;
        justify-content: space-between;
        margin-top: 0;
        position: sticky;
        top: 0px;
        margin: 0;
        background: white;
        padding: 10px 20px;
    }

    .abstract {
        font-size: 17px;
        line-height: 30px;
        flex: 1 1 auto;
        overflow: auto;
        padding: 0 20px 20px 20px;
        @include scrollBox(white);
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    
    }

    .close {
        width: 30px;
        height: 30px;
        appearance: none;
        display: block;
        margin-top: 4px;
        border: none;
        background: white;
        position: relative;
        cursor: pointer;

       &:before, 
        &:after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            height: 4px;
            width: 100%;
            background: black;
            content: '';
        }

        &:before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &:after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
}

@media screen and (min-width: 720px) {
    .selected-person {
        max-width: 600px;
        max-height: calc(100vh - 200px);

        .title {
            padding: 20px 40px;
        }

        .abstract {
            padding: 0 40px 40px 40px;
        }

        .image {
            width: 200px;
            margin-right: 40px;
        }
    }
}

body {
    &:after {
        content: '';
        display: block;
        width: 101vw;
        height: 101vh;
        background: black;
        top: 50%;
        left: 50%;
        position: fixed;
        opacity: 0;
        pointer-events: none;
        transform: translate(-50%, -50%);
        z-index: 200;
    }
}

body[data-selected-person="true"]:after {
    opacity: .3;
}