@use "sass:math";
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

body {
    flex-direction: column;
    display: flex;
    transition: opacity .5s ease-in-out;
    scroll-snap-type: x mandatory;
}

body.is-loading {
    opacity: 0;
}

.dbpedia-offline {
    margin: auto;
    text-align: center;
}

$imageSize: 75px;
$border: 3px;

.person {
    will-change: auto;
    flex: 0 0 auto;
    display: flex;
    position: relative;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    cursor: default;

    &:before {
        border-radius: 50%;
        z-index: -1;
        width: $imageSize;
        height: $imageSize;
        display: block;
        background: white;
        position: absolute;
        left: 0;
        content: '';
        top: 0;
    }

    .name {
        font-size: 14px;
        max-width: 140px;
        margin-block: 0;
        color: black;
        display: flex;
        transition: opacity .3s ease-in-out;
        opacity: 1;
        align-items: center;
        padding-right: 25px;
        position: relative;

        > span {
            flex: 0 0 auto;
            display: inline-block;
            word-break: normal;
            max-width: 100%;
        }
    }

    .action-button {
        width: 20px;
        height: 20px;
        display: block;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        margin-right: auto;


        &:before, &:after {
            content: '';
            display: block;
            width: 80%;
            height: 3px;
            position: absolute;
            background: black;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 4px;
        }

        &:after {
            transform: translate(-50%, -50%) rotate(90deg);
        }
    }

    .image,
    .image-alternative {
        border: $border solid white;
        overflow: hidden;
        border-radius: 50%;
        width: $imageSize - ($border * 2);
        height: $imageSize - ($border * 2);
        display: block;
        line-height: $imageSize - ($border * 2);
        overflow: hidden;
        transition: opacity .3s ease-in-out;
        flex: 0 0 $imageSize - ($border * 2);
    }

    .image-alternative {
        text-align: center;
        font-size: 20px;
        display: block;
        color: white;
        background-color: var(--color);
        filter: contrast(100%);

        span {
            mix-blend-mode: difference;
        }
    }

    .zoom {
        width: 50px;
        height: 50px;
        border: 10px solid transparent;
        appearance: none;
        background: url('/zoom.svg') no-repeat center;
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        cursor: pointer;
        transition: opacity .3s ease-in-out;
    }

    &.active {
        .action-button {
            &:before {
                width: 100%;
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &:after {
                width: 100%;
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }

    &:hover {
        .zoom {
            opacity: 1;
        }

        .image-alternative,
        .image {
            opacity: .2;
        }

        .action-button {
            opacity: 1;
        }
    }
}

.is-loading .person {
    .name {
        opacity: 0;
    }
}

.people {
    display: flex;
    height: calc(100% - 54px);
    align-content: center;
    justify-content: safe center;
}

.column {
    scroll-snap-align: start;
    display: flex;
    justify-content: safe center;
    flex-direction: column;
    max-height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    width: 320px;
    flex: 0 0 320px;
    border-left: 1px dashed rgb(180, 180, 180);
    padding-inline-start: 20px;
    padding-block: 40px;
    
    &::-webkit-scrollbar {
        display: none;
    }

    &.selected {
        background: rgb(243, 243, 255);
    }

    > .inner {
        height: calc(var(--count) * #{$imageSize - 20px});
        position: relative;

        .scroll-maker {
            height: calc(var(--count) * #{$imageSize - 20px} + 60px);
            width: 10px;
            position: absolute;
            top: 0;
            pointer-events: none;
        }

        > .person {
            transition: transform .3s .3s ease-in-out, opacity .3s calc(.6s + .02s * var(--index)) ease-in-out;
            top: 50%; 
            position: absolute;
            transform: 
            translateY(calc(var(--index) * #{$imageSize} + -20px * var(--index) - var(--half) + 40px));
        }
    }

    &.active {
        .inner {
            .person {
                transform: translateY(calc((-50%  + var(--scroll) + 30px)));
                transition: transform .3s .3s ease-in-out, opacity .3s 0s ease-in-out;
    
                &:not(.active) {
                    opacity: 0;
                }
    
                &.active {
                    opacity: 1;
                    z-index: 3;
                }
            }
        }    
    }
}

.search-form {
    margin: auto;
    display: flex;
    max-width: 500px;
    width: 100%;
    flex-direction: column;

    > label {
        text-align: center;
        margin-bottom: 10px;
    }
}

.search-input {
    padding: 10px;
    border-radius: 50px;
    border: 1px solid rgb(212, 212, 212);
    margin-bottom: 10px;
}

.suggestion {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;

    .image-alternative,
    .image {
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
    }

    .image-alternative {
        text-align: center;
        font-size: 20px;
        display: block;
        color: white;
        background-color: var(--color);
        filter: contrast(100%);

        span {
            mix-blend-mode: difference;
        }
    }

    .title {
        padding-left: 10px;
        height: 40px;
        margin: 0;
        flex: 1 1 auto;
        line-height: 40px;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        border-bottom: 1px solid rgb(212, 212, 212);
    }
}

.headers {
    display: flex;
    flex: 0 0 auto;
    align-content: center;
    justify-content: safe center;
}

.column-title {
    border-left: 1px dashed rgb(180, 180, 180);
    font-size: 12px;
    color: gray;
    margin: 0;
    padding: 20px;
    pointer-events: none;
    width: 300px;
    position: relative;
    flex: 0 0 300px;

    &.selected {
        background: rgb(243, 243, 255);
    }

    &:not(.selected):after {
        content: '';
        display: block;
        height: 40px;
        background: linear-gradient(white 0%, rgba(0, 0, 0, 0) 100%);
        width: 100%;
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 10;
    }
}

body {

    &:after {
        content: '';
        display: block;
        width: 101vw;
        height: 101vh;
        background: black;
        top: 50%;
        left: 50%;
        position: fixed;
        opacity: 0;
        pointer-events: none;
        transform: translate(-50%, -50%);
        z-index: 20;
    }

}

body[data-selected-person="true"]:after {
    opacity: .3;
}

.selected-person {
    width: calc(100vw - 80px);
    max-width: 800px;
    max-height: calc(100vh - 60px);
    overflow-y: auto;
    position: absolute;
    top: 50%;
    padding: 0 40px 20px 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    z-index: 30;
    box-shadow: 0 5px 10px rgba(black, .3);

    .image {
        width: 100%;
        float: left;
        margin-bottom: 10px;
    }

    .title {
        display: flex;
        justify-content: space-between;
        margin-top: 0;
        position: sticky;
        top: 0px;
        margin: 0;
        padding: 30px 0 ;
        background: white;
    }

    .abstract {
        font-size: 17px;
        line-height: 30px;
    }

    .close {
        width: 30px;
        height: 30px;
        appearance: none;
        display: block;
        border: none;
        background: white;
        position: relative;
        cursor: pointer;

       &:before, 
        &:after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            height: 4px;
            width: 100%;
            background: black;
            content: '';
        }

        &:before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &:after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
}

@media screen and (min-width: 720px) {
    .selected-person {
        max-width: 600px;
        max-height: calc(100vh - 200px);

        .image {
            width: 200px;
            margin-right: 40px;
        }
    }
}