@use "sass:math";
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

body {
    flex-direction: column;
    display: flex;
    transition: opacity .5s ease-in-out;
}

body.is-loading {
    opacity: 0;
}

$imageSize: 75px;
$border: 3px;

.person {
    flex: 0 0 auto;
    display: flex;
    position: relative;
    gap: 10px;
    align-items: center;
    text-decoration: none;

    &:before {
        border-radius: 50%;
        z-index: -1;
        width: $imageSize;
        height: $imageSize;
        display: block;
        background: white;
        position: absolute;
        left: 0;
        content: '';
        top: 0;
    }

    .name {
        font-size: 14px;
        max-width: 140px;
        word-break: normal;
        margin-block: 0;
        color: black;
        transition: opacity .3s ease-in-out;
        opacity: 1;

        &:before, &:after {
            content: '';
            display: block;
            width: 30px;
            height: 6px;
            position: absolute;
            background: black;
            left: 24px;
            top: 50%;
            border-radius: 4px;
            opacity: 0;
            transition: opacity .3s ease-in-out;
        }

        &:after {
            transform: rotate(90deg);
        }
    }

    .image,
    .image-alternative {
        border: $border solid white;
        overflow: hidden;
        border-radius: 50%;
        width: $imageSize - ($border * 2);
        height: $imageSize - ($border * 2);
        display: block;
        line-height: $imageSize - ($border * 2);
        overflow: hidden;
        transition: opacity .3s ease-in-out;
        flex: 0 0 $imageSize - ($border * 2);
    }

    .image-alternative {
        text-align: center;
        font-size: 20px;
        display: block;
        color: white;
        background-color: var(--color);
        filter: contrast(100%);

        span {
            mix-blend-mode: difference;
        }
    }

    &.active {
        .name {
            &:before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }
        }
    }

    &:hover {
        .name {
            &:before, &:after {
                opacity: 1;
            }
        }

        .image,
        .image-alternative {
            opacity: .3;
        }
    }
}

.is-loading .person {
    .name {
        opacity: 0;
    }
}

.people {
    display: flex;
    height: 100%;
    align-content: center;
    justify-content: center;
}

.column {
    display: flex;
    justify-content: safe center;
    flex-direction: column;
    max-height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    width: 250px;

    &::-webkit-scrollbar {
        display: none;
    }

    > .inner {
        height: calc(var(--count) * #{$imageSize - 20px});
        position: relative;

        .scroll-maker {
            height: calc(var(--count) * #{$imageSize - 20px} + 20px);
            width: 10px;
            position: absolute;
            top: 0;
            // background-color: red;
            pointer-events: none;
        }

        > .person {
            transition: transform .3s .3s ease-in-out, opacity .3s calc(.6s + .02s * var(--index)) ease-in-out;
            top: 50%; 
            position: absolute;
            transform: 
            translateY(calc(var(--index) * #{$imageSize} + -20px * var(--index) - var(--half)));
        }
    }

    &.active {
        .inner {
            .person {
                transform: translateY(calc((-50%  + var(--scroll))));
                transition: transform .3s .3s ease-in-out, opacity .3s 0s ease-in-out;
    
                &:not(.active) {
                    opacity: 0;
                }
    
                &.active {
                    opacity: 1;
                    z-index: 3;
                }
            }
        }    
    }
}

.selected {
    margin-inline: 60px;
}

.search-form {
    margin: auto;
    display: flex;
    max-width: 500px;
    width: 100%;
    flex-direction: column;

    > label {
        text-align: center;
        margin-bottom: 10px;
    }
}

.search-input {
    padding: 10px;
    border-radius: 50px;
    border: 1px solid rgb(212, 212, 212);
    margin-bottom: 10px;
}

.suggestion {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;

    .image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .title {
        padding-left: 10px;
        height: 40px;
        margin: 0;
        flex: 1 1 auto;
        line-height: 40px;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        border-bottom: 1px solid rgb(212, 212, 212);
    }
}